################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NC-Safari/.vs/NC-Safari
/NC-Safari/bin/Debug/net8.0
/NC-Safari/obj/Debug/net8.0/ref
/NC-Safari/obj
/NC-Safari/obj/Debug/net8.0/NC-Safari.AssemblyInfo.cs
